# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/

# Pyenv
.python-version

# Environments
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Testing
.coverage
.tox/
.nox/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/
